@charset "UTF-8";
/* CSS Document */

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.5em;
}
p {
	font-size: 1.5em;
}

header {
	width:100% !important;
	position: fixed !important;
}
.contact {
	margin-top: -3%;	
}
.site-main {
	margin-top: 16% !important;
}

.single .site-main {
	margin-bottom: 5%;
}
.site_description_m a, .site_description_m a:hover, .site_description_m a:visited {
	color: #fff !important;
}

.mobile {
	display:none;
}

hgroup {
}
.frame-left .images {
	margin: 2% 5%	
}
.frame-left, .frame-right {
	width: 50%;
	vertical-align: top;
	float: left;
}
.controls {
	height: auto;
	background: none repeat scroll 0% 0% transparent;
	top: 35%;
	position: absolute;
	width: 50%;
}
.controls table td {
	padding: 20px;
}
.home-button {
	background: none repeat scroll 0% 0% transparent !important;
	border: 2px solid rgb(255, 255, 255) !important;
	color: rgb(255, 255, 255) !important;
	text-shadow: 2px 1px rgb(102, 102, 102) !important;
	text-wrap: none;
	/*padding: 2% !important;*/
	font-size: 2em !important;
	margin: 1%;
}
.made-here h4 {
	font-size: 1.5em;
	width: 40%;
}
.made-here img {
	position: absolute;
	bottom: 28%;
	left: 42.8%;
	width:15%
}
.home-button {
	width: 45%;
}
.site-footer {
	height: 23%;
	width:100% !important;
}
.home .site-footer {
	top: -5px;
	height: 170px;
}
.site-tagline {
	font-size: 1em;	
}
.menu-footer-menu-container {
	bottom: 65% !important;	
}
.menu-footer-menu-container a {
    font-size: 15px !important;
}
.trigger {
	text-align: center;
	color: #FFF;
	font-size: 180%;
	border: solid #fff 2px;
	padding: 5px;
	background: url(../images/frontend/footer_nav_bg.png) repeat;
	list-style: none;
	cursor: pointer;
}
.privacy_policy h2 {
	font-size: 19px !important;
	padding-top: 5px;
}
.privacy_policy p, .list {
	text-align: left;
}
.trigger span {
	position: relative;
	top: 3px;
}

.amount {
	font-size: 20px;
}
.products li {
	padding: 2% !important;
	width: 17% !important;
	height: 380px !important;
}
.related .products li {
	padding: 2% !important;
	width: 39.05% !important;
}
.related .products li h3 {
	font-size: 12px !important;
}
.woocommerce a.button {
	font-size: 15px !important;
	padding: 6px 3px;
}
.summary {
	width: 100% !important;
}
.woocommerce-main-image img {
	width: 170% !important;
}

/*About mods*/
.about-text {
	font-size: 100%;
	padding: auto;
	padding-top: 21px;
	text-align: justify;
}
/*faq mods*/
.links {
	min-height: 300px;
	;
}
.links a {
	font-size: 190%;
	padding: 1em 0;
}
.lower-text {
	border-top: #FFF solid 2px;
}
.lower-text p {
	font-size: 180%;
}
.col-1, .col-2 {
	float: none !important;
	width: 100% !important;
}
.tabs a {
	font-size: 12px !important;
}
.terms label {
	font-size: 15px !important;
	position: relative !important;
	left: -29px !important;
	top: -5px !important;
}
.cart button {
	font-size: 10px !important;
}
.cart_table_item td.product-thumbnail, .cart th.product-thumbnail {
	display: none;
}
.cart_table_item .amount {
	font-size: 14px;
}
.login label, .register label, .payment_box label {
	font-size: 11px;
}
.place-order .input-checkbox {
	position: relative;
	left: -30px;
	top: -5px;
}
.zoom {
	width: 75%;
}
.thumbnails {
	width: 80%;
}
.products {
	width: 100%;
}
.product h3 {
	font-size: 1.5em !important;
}
